* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: rgb(209, 199, 199);
  color: whitesmoke;
  justify-content: center;
}
.App {
  text-align: center;
  margin-top: 50px;
}

form {
  margin-bottom: 20px;
}

input {
  margin-right: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}
